<?xml version="1.0" encoding="UTF-8"?>
<HydraNvp>
  <Algorithms>

    <Algorithm>
      <Name>Random</Name>
      <Signature>
        <Returns>int</Returns>
        <Arguments/>
      </Signature>
      <Versions>
        <Version>
          <Name>TrueRandom</Name>
          <Class>TrueRand</Class>
          <Package>versions.rand.truerand</Package>
          <Path>????</Path>
        </Version>
      </Versions>
    </Algorithm>
    <Algorithm>
      <Name>Algorithm</Name>
      <Signature>
        <Returns>int</Returns>
        <Arguments>
          <Argument>
            <Name>data</Name>
            <Type>int[]</Type>
          </Argument>
          <Argument>
            <Name>count</Name>
            <Type>int</Type>
          </Argument>
        </Arguments>
      </Signature>
      <Versions>
        <Version>
          <Name>Version 0</Name>
          <Class>Version0</Class>
          <Package>versions.alg0</Package>
          <Path>/path/alg/</Path>
        </Version>
        <Version>
          <Name>Version 1</Name>
          <Class>Version1</Class>
          <Package>versions.alg1</Package>
          <Path>/path/alg/</Path>
        </Version>
      </Versions>
    </Algorithm>
    <Algorithm>
      <Name>Shuffle</Name>
      <Signature>
        <Returns>int[]</Returns>
        <Arguments>
          <Argument>
            <Name>data</Name>
            <Type>int[]</Type>
          </Argument>
        </Arguments>
      </Signature>
      <Versions>
        <Version>
          <Name>Shuffle</Name>
          <Class>Shuffle0</Class>
          <Package>versions.shuffle</Package>
          <Path>/path/shuffle/</Path>
        </Version>
      </Versions>
    </Algorithm>
  </Algorithms>
</HydraNvp>
